branches:
  - dev
  - name: beta
    prerelease: true
debug: true
ci: true
dryRun: true
plugins:
  - "@semantic-release/changelog"
  - - "@semantic-release/npm"
    - npmPublish: false
  - - "@semantic-release/git"
    - assets:
        - dist/
        - package.json
        - CHANGELOG.md
      message: |-
        chore(release): ${nextRelease.version} [skip ci]

        ${nextRelease.notes}
  - "@semantic-release/github"
