# This file contains all the files/directories that should
# be ignored (i.e. not included) in the final packaged extension.

# Ignore extension configs
.vscode/**

# Ignore test files
.vscode-test/**
dist/test/**

# Ignore source code
src/**
node_modules/**
!node_modules/module-alias/**
!node_modules/adm-zip/**
!node_modules/tar-fs/**
!node_modules/tar-stream/**
!node_modules/streamx/**
!node_modules/queue-tick/**
!node_modules/fast-fifo/**
!node_modules/b4a/**
!node_modules/pump/**
!node_modules/once/**
!node_modules/wrappy/**
!node_modules/end-of-stream/**
!node_modules/i18next/**
!node_modules/winattr/**
!node_modules/cross-spawn/**
!node_modules/which/**
!node_modules/isexe/**
!node_modules/path-key/**
!node_modules/shebang-command/**
!node_modules/shebang-regex/**
!node_modules/@bufbuild/protobuf/**
!node_modules/@connectrpc/connect-node/**
!node_modules/@connectrpc/connect/**
!node_modules/undici/**
!node_modules/lodash/isEqual/**
!node_modules/moment/**
!node_modules/vscode-languageclient/**
!node_modules/vscode-languageserver-protocol/**
!node_modules/@fastify/busboy/**
!node_modules/vscode-jsonrpc/**
!node_modules/vscode-languageserver-types/**
!node_modules/axios/**
!node_modules/form-data/**
!node_modules/combined-stream/**
!node_modules/delayed-stream/**
!node_modules/mime-types/**
!node_modules/mime-db/**
!node_modules/asynckit/**
!node_modules/proxy-from-env/**
!node_modules/follow-redirects/**
!node_modules/@vscode/codicons/**

# Ignore all vscode-react files except the build directory
vscode-react/src/**
vscode-react/public/**
vscode-react/scripts/**
vscode-react/index.html
vscode-react/README.md
vscode-react/package.json
vscode-react/package-lock.json
vscode-react/node_modules/**

# Ignore Misc
.yarnrc
vsc-extension-quickstart.md
**/.gitignore
**/tsconfig.json
**/vite.config.ts
**/.eslintrc.json
**/*.map
**/*.ts