# This file contains all the files/directories that should
# be ignored (i.e. not included) in the final packaged extension.

# Ignore extension configs
.vscode/**

# Ignore test files
.vscode-test/**
dist/test/**

# Ignore source code
src/**

# Ignore all vscode-react files except the build directory
vscode-react/src/**
vscode-react/public/**
vscode-react/scripts/**
vscode-react/index.html
vscode-react/README.md
vscode-react/package.json
vscode-react/package-lock.json
vscode-react/node_modules/**

# Ignore Misc
.yarnrc
vsc-extension-quickstart.md
**/.gitignore
**/tsconfig.json
**/vite.config.ts
**/.eslintrc.json
**/*.map
**/*.ts
