@tailwind base;
@tailwind components;
@tailwind utilities;

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 100%;
}

#iconWrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

#iconWrapper .icon {
	width: 50px;
	padding: 10px;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

/* #iconWrapper .icon .codicon {
	font-size: 24px;
} */
